.container {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    min-height: 100%;
}
.trampasLogin {
    padding-top: 100px;
}
.form__tittle {
    color: rgb(255, 244, 244);
    font: bold;
    text-align: center;
    font-size: 1.5rem;
}
.form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.form__input,
.form__input--submit {
    width: 343px;
    height: 65px;
    padding: 20px;
    border-radius: 10px;
    color: black;
}
.form__input--submit {
    background-color: #ababab;
    color: black;
    font-weight: 600;
    font-size: 1.2rem;
    text-align: center;
}

.form__input--submit:hover {
    background-color: #67676765;
    cursor: pointer;
}

.form__info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: rgb(94, 92, 92);
    font-size: 0.7rem;
    gap: 10px;
}
.form__info--or {
    display: flex;
    align-items: center;
    gap: 10px;
}
.form__info--or::after,
.form__info--or::before {
    content: '';
    background-color: grey;
    display: block;
    width: 105px;
    height: 2px;
    border-radius: 2px;
}
.btn {
    font-family: Roboto, sans-serif;
    font-weight: 0;
    font-size: 14px;
    color: #fff;
    background-color: #205e2a;
    padding: 5px 15px;
    border: solid #205e2a 2px;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 50px;
    transition: 1000ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    width: 343px;
    height: 65px;
    margin-bottom: 124px;
}

.btn:hover {
    transition: 1000ms;
    padding: 10px 50px;
    transform: translateY(-0px);
    background-color: #fff;
    color: #0066cc;
    border: solid 2px #0066cc;
}
.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
