.ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
.li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #c5c3c374;
    border-radius: 40px;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.208);
}
.futbol {
    font-size: 0px;
}
.MyMatch {
    text-align: center;
    margin: 10px auto;
}
.btn {
    font-family: Roboto, sans-serif;
    font-weight: 0;
    font-size: 14px;
    color: #fff;
    background-color: rgb(132, 25, 25);
    padding: 5px 15px;
    border: solid rgb(132, 25, 25) 2px;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 50px;
    transition: 1000ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: 5px;
}

.btn:hover {
    transition: 1000ms;
    padding: 10px 50px;
    transform: translateY(-0px);
    background-color: #fff;
    color: #0066cc;
    border: solid 2px #0066cc;
}
