.containerMenu {
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0px;
    display: flex;
    align-items: center;
    background-color: #1e1e1e;
}
.menuNav {
    margin: 0px 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.menu__links {
    color: rgba(255, 255, 255, 0.601);
    font-size: 0.75rem;
    text-decoration: none;
}
.headerList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    /* border-bottom: 2px solid grey; */
    box-shadow: 5px 5px 5px black;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.206);
}
header {
    position: sticky;
    top: 0px;
    background-color: rgba(51, 51, 51, 0.678);
}
.messi {
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
    -webkit-animation-name: flip;
    animation-name: flip;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes flip {
    0% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
        transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    40% {
        -webkit-transform: perspective(400px) translate3d(0, 0, 150px)
            rotate3d(0, 1, 0, -190deg);
        transform: perspective(400px) translate3d(0, 0, 150px)
            rotate3d(0, 1, 0, -190deg);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    50% {
        -webkit-transform: perspective(400px) translate3d(0, 0, 150px)
            rotate3d(0, 1, 0, -170deg);
        transform: perspective(400px) translate3d(0, 0, 150px)
            rotate3d(0, 1, 0, -170deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    80% {
        -webkit-transform: perspective(400px) scale3d(0.95, 0.95, 0.95);
        transform: perspective(400px) scale3d(0.95, 0.95, 0.95);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    100% {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
}
@keyframes flip {
    0% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
        transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    40% {
        -webkit-transform: perspective(400px) translate3d(0, 0, 150px)
            rotate3d(0, 1, 0, -190deg);
        transform: perspective(400px) translate3d(0, 0, 150px)
            rotate3d(0, 1, 0, -190deg);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    50% {
        -webkit-transform: perspective(400px) translate3d(0, 0, 150px)
            rotate3d(0, 1, 0, -170deg);
        transform: perspective(400px) translate3d(0, 0, 150px)
            rotate3d(0, 1, 0, -170deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    80% {
        -webkit-transform: perspective(400px) scale3d(0.95, 0.95, 0.95);
        transform: perspective(400px) scale3d(0.95, 0.95, 0.95);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    100% {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
}
