.container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    min-height: 100%;
}
.trampasLogin {
    padding-top: 100px;
}
.form__tittle {
    color: rgb(92, 92, 92);
    font: bold;
    text-align: center;
    font-size: 1.5rem;
}
.form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.form__input,
.form__input--submit {
    border-radius: 30 6 px;
    width: 343px;
    height: 65px;
    padding: 20px;
}
.form__input--submit {
    background-color: #ababab;
    color: black;
    font-weight: 600;
    font-size: 1.2rem;
    text-align: center;
}

.form__input--submit:hover {
    background-color: #67676765;
    cursor: pointer;
}

.form__info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: rgb(94, 92, 92);
    font-size: 0.7rem;
    gap: 10px;
}
.form__info--or {
    display: flex;
    align-items: center;
    gap: 10px;
}
.form__info--or::after,
.form__info--or::before {
    content: '';
    background-color: grey;
    display: block;
    width: 105px;
    height: 2px;
    border-radius: 2px;
}
.form__loginButton {
    color: #5f5f5f;
    text-decoration: none;
    cursor: pointer;
}

li img {
    width: 303px;
    height: 193px;
    object-fit: cover;
    padding: 20px;
    border-radius: 29px;
}

li {
    display: flex;
}

li div {
    display: flex;
    gap: 20px;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

button {
    margin: 5px 4px;
    width: 70%;
}
