.nav {
    display: flex;

    min-width: 200px;
    justify-content: space-between;
    align-items: center;
    margin-inline-end: 1.5rem;
}
.ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    margin-inline-end: 1.5rem;
    list-style: none;
}

.link {
    text-decoration: none;
    color: black;
    margin: 1rem;
}
